<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <h1>New Project</h1>
  <a href="/api/photo/list">PhotoList</a>
  <script>
    var xhr = new XMLHttpRequest();
    xhr.open("GET", "/api/photo/list");
    xhr.addEventListener("load", function (e) {
      var photoList = JSON.parse(xhr.responseText);
      console.log(photoList);
    });
    xhr.send();
  </script>
</body>
</html>
