<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <h1>PhotoList</h1>
  <div id="container">
    <ul>
      <% photoList.forEach((photo) => { %>
        <li class="photo_list" data-photo-id="<%= photo.id %>">
          <%= photo.name %>
        </li>
      <% }) %>
    </ul>
  </div>
  <script>
    let photoLists = document.getElementsByClassName("photo_list");
    for (let i = 0; i < photoLists.length; i++) {
      photoLists[i].addEventListener("click", (e) => {
        let xhr = new XMLHttpRequest();
        xhr.open("GET", `/api/photo/${e.target.dataset.photoId}`);
        xhr.send();
        xhr.addEventListener("load", () => {
          let resPhoto = JSON.parse(xhr.responseText);
          let imgDOM = document.createElement("img");
          imgDOM.src = resPhoto.dataUrl;
          document.getElementById("container").appendChild(imgDOM);
        });
      });
    }
  </script>
</body>
</html>
